body {
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #4C4C4C url('background.jpeg');
  background-size: cover;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  margin-top: 0;
  color: white;
  text-align: center;
}

.wrapper {
  width: 850px;
  max-width: 100%;
  display: flex;
}

video {
  max-width: 100%;
  width: 765px;
  border: solid 1px #000;
}

.speed {
  background: #efefef;
  flex: 1;
  display: flex;
  align-items: flex-start;
  margin: 10px;
  border-radius: 50px;
  box-shadow: 0 0 1px 3px rgba(0,0,0,0.1);
  overflow: hidden;
}

.speed-bar {
  width: 100%;
  background: linear-gradient(-170deg, #2376ae 0%, #c16ecf 100%);
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  color: white;
  height: 16.3%;
}

@media (max-width: 900px) {
  video {
    max-width: 80%;
  }
}
